


.maingrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "maingridheader" "maingriddiv" "maingridarticle" "maingridfooter";


}

/*---Header Design---*/
.maingridheader {
    width: 100%;
    grid-area: maingridheader;
    margin-bottom: 4px;
}

/*Making SubGrid for Header*/
.maingridheader > div {
    height: 100%;
    background: #212121;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 4px;
    text-align: right;
}

/*Select subcell a */
.maingridheader > div > a {
    width: 100%;
    font-family: STSongti-TC-Bold;
    color: #C6C6C6;
    font-size: small;
    text-align: center;
    font-style: oblique;
text-decoration: none;

}


.headerfontlogo {
    opacity: 0.74;
    padding-right: 10px;
    text-align: left;

    height: 30px;
    color: aquamarine;

}


.maingriddiv {
    width: 100%;
    grid-area: maingriddiv;

}

.maingriddiv > img {
    width: 100%;
}

.maingridartice {
    width: 100%;
    grid-area: maingridarticle;

}

.maingridfooter {
    width: 100%;
    grid-area: maingridfooter;
}




